---
import Layout from '../layouts/Layout.astro';
import { getTeams } from '../lib/data';

const teams = await getTeams();
---

<Layout>
  <main style="max-width: 960px; margin: 0 auto; padding: 24px;">
    <h1>チーム一覧</h1>
    <ul>
      {teams.map((t) => (
        <li>
          <a href={`/team/${t.slug}/`}>{t.name}</a>
        </li>
      ))}
    </ul>
  </main>
</Layout>
