---
import Layout from '../../layouts/Layout.astro';
import {
  getAllPlayerSlugs,
  getPlayerBySlug,
  getPlayerHistory,
  getCurrentTeamForPlayer,
  getTeams,
} from '../../lib/models';
import PlayerDetail from '../../components/PlayerDetail';

export async function getStaticPaths() {
  const slugs = await getAllPlayerSlugs();
  return slugs.map((slug) => ({ params: { slug } }));
}

const { slug } = Astro.params;
const player = await getPlayerBySlug(slug!);
const teams = await getTeams();
const teamBySlug = new Map(teams.map((t) => [t.slug, t]));
const currentTeamSlug = await getCurrentTeamForPlayer(slug!);
const history = await getPlayerHistory(slug!);
---

<Layout>
  <main style="max-width: 1100px; margin: 0 auto; padding: 24px;">
    <PlayerDetail
      client:visible
      player={player ?? { slug, name: slug }}
      currentTeam={currentTeamSlug}
      history={history}
      teamBySlug={Object.fromEntries(teamBySlug)}
    />
  </main>
</Layout>
